html(xmlns='http://www.w3.org/1999/xhtml')
    head
        extends ./head
        block title
            title 修改为这个标题
        block append styleSheets
            link(type='text/css',rel='styleSheet',href='#{template.Floder}css/index.css')
        block append scripts
            script.
                $(function () {
                    $("img.lazy").lazyload({effect: "fadeIn", threshold: 200});
                });
    body
        mixin goods_tab(goods)
            .YourLoveSon
                case goods.length
                    when 0
                        p 暂无内容
                    default
                        ul.clearFix
                            each good,i in goods
                                li
                                    .YLProImg
                                        a(href= '/cn/goods/#{good.id}',target='_blank')
                                            span.ImgMiddle
                                            img.ImgLight.lazy(data-original='#{good.thumbImg}.html',
                                            src='#{templates.Floder}/images/goods-thumbnail-placeholder.jpg')
                                            .YLProName
                                                a(href= '/cn/goods/#{good.id}.html',target='_blank')
                                            .YLProSPrice.clearFix
                                                span ￥
                                                - if (site.isShowVisitorPrice == 1 || user != null)
                                                    i= good.salePrice
                                                span.YLZhe 限购#{good.limit}
                                                .YLProMPrice ￥#{good.marketPrice}



        //- 引入头部
        include ./header
            -var header_title= '首页' //  对引入的块更新内容
        main
            //- 轮播海报区块
            - if(home){
                .banner
                    ul#slider
                        - for (var ad in home.slides)
                        li
                            a(href='$ad.url')
                                img.lazy(data-original='$ad.src',src='$ad.src')
                        | $end
                    #pagenavi
                        - for(var i=0;i< home.slides.length;i++)
                        a(href='javascript:void(0)',class= i == 1 ? 'active' : '')
            - }
            ul
                each cat in categories
                    li= cat.name
            .goods
                +goods_tab(goods_list)
            include ./footer.html